
body
{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(14, 120, 124, 0.616);
    text-align: center;
    align-items: center;
    width: 100%;
    vertical-align: middle;
}


